*.class
ui/LoginInjected.java
tst/
ui/listeners/mainwindowlisteners/MainWindowKeyListers.java
.progress_in_a_day
UserDetailsPanel.java
QuotationPanel.java
Menu.java
# javac Main.java && javac ui/*.java  && javac ui/panels/*.java && java Main.java